<mat-toolbar>
  {{ pageTitle() | translate }}
</mat-toolbar>
@if (isLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<div class="flex-row justify-center">
  <div class="flex-25 hide-sm"></div>

  <mat-card class="flex flex-50">
    @if (errorMessages().length > 0) {
      <mat-list>
        @for (item of errorMessages(); track item) {
          <mat-list-item class="error-messages-container">
            <mat-icon color="warn" matListItemIcon>error</mat-icon>
            <span class="error-messages" matListItemTitle>{{ item }}</span>
          </mat-list-item>
        }
      </mat-list>
    }
    <form [formGroup]="profileForm" (ngSubmit)="confirm()">
      <mat-card-content class="flex-row flex-wrap">
        <mat-form-field class="flex flex-1">
          <mat-label>{{ 'common.profileName.value' | translate }}</mat-label>
          <input
            formControlName="profileName"
            matInput
            name="profileName"
            [placeholder]="'profileDetail.profileNamePlaceholder.value' | translate"
            required />
          <mat-error>{{ 'fieldRequired.short.value' | translate }}</mat-error>
          <mat-hint>
            {{ 'profileDetail.profileNameHint.value' | translate }}
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="flex flex-1" style="margin-top: 24px">
          <mat-label>{{ 'profileDetail.activationMode.value' | translate }}</mat-label>
          <mat-select formControlName="activation" required>
            @for (activationMode of activationModes; track activationMode) {
              <mat-option [attr.data-cy]="activationMode.label" [value]="activationMode.value">
                {{ activationMode.label | translate }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-label class="flex flex-1">{{ 'profileDetail.amtFeatures.value' | translate }}</mat-label>
        <mat-checkbox class="flex flex-1" data-cy="redirect_ider" formControlName="iderEnabled">
          {{ 'profileDetail.ideRedirect.value' | translate }}
        </mat-checkbox>
        <mat-checkbox class="flex flex-1" data-cy="redirect_kvm" formControlName="kvmEnabled">
          {{ 'profileDetail.kvm.value' | translate }}
        </mat-checkbox>
        <mat-checkbox class="flex flex-1" data-cy="redirect_sol" formControlName="solEnabled">
          {{ 'profileDetail.sol.value' | translate }}
        </mat-checkbox>

        <mat-form-field class="flex flex-1" style="margin-top: 10px">
          <mat-label>{{ 'profileDetail.userConsent.value' | translate }}</mat-label>
          <mat-hint>{{ 'profileDetail.userConsentHint.value' | translate }}</mat-hint>
          <mat-select formControlName="userConsent" required>
            @for (mode of userConsentModes; track mode) {
              <mat-option [attr.data-cy]="mode.label" [value]="mode.value">
                {{ mode.label | translate }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-divider style="margin: 16px 0"></mat-divider>

        <mat-checkbox class="flex flex-1" data-cy="genAmtPass" formControlName="generateRandomPassword">
          {{ 'profileDetail.generateRandomAmtPassword.value' | translate }}
        </mat-checkbox>

        <mat-form-field class="flex flex-1">
          <mat-label>{{ 'profileDetail.amtPassword.value' | translate }}</mat-label>
          <input
            [type]="amtInputType()"
            formControlName="amtPassword"
            matInput
            name="amtPassword"
            required
            minlength="8"
            maxlength="32" />
          <mat-error>{{ 'fieldRequired.long.value' | translate }}</mat-error>
          <mat-hint>
            {{ 'profileDetail.amtPasswordHint.value' | translate }}
          </mat-hint>
          <button
            mat-icon-button
            matSuffix
            type="button"
            [matTooltip]="'profileDetail.showHidePassword.value' | translate"
            (click)="toggleAMTPassVisibility()"
            [disabled]="profileForm.controls.amtPassword.disabled">
            @if (amtInputType() !== 'text') {
              <mat-icon>visibility</mat-icon>
            } @else {
              <mat-icon>visibility_off</mat-icon>
            }
          </button>
          <button
            mat-icon-button
            matSuffix
            data-cy="genStaticAmt"
            type="button"
            [matTooltip]="'profileDetail.generateRandomPassword.value' | translate"
            (click)="generateAMTPassword()"
            [disabled]="profileForm.controls.amtPassword.disabled">
            <mat-icon>loop</mat-icon>
          </button>
        </mat-form-field>

        <mat-checkbox class="flex flex-1" data-cy="genMebxPass" formControlName="generateRandomMEBxPassword">
          {{ 'profileDetail.generateRandomMebxPassword.value' | translate }}
        </mat-checkbox>

        <mat-form-field class="flex flex-1">
          <mat-label>{{ 'profileDetail.mebxPassword.value' | translate }}</mat-label>
          <input
            [type]="mebxInputType()"
            matInput
            formControlName="mebxPassword"
            required
            minlength="8"
            maxlength="32" />
          <mat-error>{{ 'fieldRequired.long.value' | translate }}</mat-error>
          <mat-hint>
            {{ 'profileDetail.mebxPasswordHint.value' | translate }}
          </mat-hint>
          <button
            mat-icon-button
            matSuffix
            type="button"
            [matTooltip]="'profileDetail.showHidePassword.value' | translate"
            (click)="toggleMEBXPassVisibility()"
            [disabled]="profileForm.controls.mebxPassword.disabled">
            @if (mebxInputType() !== 'text') {
              <mat-icon>visibility</mat-icon>
            } @else {
              <mat-icon>visibility_off</mat-icon>
            }
          </button>
          <button
            mat-icon-button
            matSuffix
            data-cy="genStaticMebx"
            type="button"
            [matTooltip]="'profileDetail.generateRandomPassword.value' | translate"
            (click)="generateMEBXPassword()"
            [disabled]="profileForm.controls.mebxPassword.disabled">
            <mat-icon>loop</mat-icon>
          </button>
        </mat-form-field>

        <mat-divider style="margin: 48px 0 16px 0"></mat-divider>

        <mat-label class="flex flex-1">{{ 'profileDetail.networkConfiguration.value' | translate }}</mat-label>

        <mat-label class="flex flex-1" style="margin-top: 15px">{{
          'profileDetail.wired.value' | translate
        }}</mat-label>
        <mat-radio-group class="flex flex-1" name="dhcpEnabled" formControlName="dhcpEnabled">
          <mat-radio-button [value]="true" checked="true">{{
            'profileDetail.dhcp.value' | translate
          }}</mat-radio-button>
          <mat-radio-button [value]="false">{{ 'profileDetail.static.value' | translate }}</mat-radio-button>
        </mat-radio-group>

        <mat-checkbox class="flex flex-1" formControlName="ipSyncEnabled">
          {{ 'profileDetail.enableIpSynchronization.value' | translate }}
          @if (profileForm.controls.ipSyncEnabled.enabled) {
            <p class="like-mat-hint">
              {{ 'profileDetail.ipSyncHintEnabled.value' | translate }}
            </p>
          }
          @if (profileForm.controls.ipSyncEnabled.disabled) {
            <p class="like-mat-hint">{{ 'profileDetail.ipSyncHintDisabled.value' | translate }}</p>
          }
        </mat-checkbox>

        @if (showIEEE8021xConfigurations()) {
          <mat-form-field class="flex flex-1" style="margin-top: 10px">
            <mat-label>{{ 'profileDetail.wired8021xConfiguration.value' | translate }}</mat-label>
            <mat-select formControlName="ieee8021xProfileName">
              @for (cfg of iee8021xConfigurations(); track cfg) {
                <mat-option [value]="cfg.profileName">
                  {{ cfg.profileName }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        }

        <mat-label style="margin-top: 15px">{{ 'common.wireless.value' | translate }}</mat-label>

        <mat-checkbox
          class="flex flex-1"
          data-cy="localWifiSyncEnabled"
          formControlName="localWifiSyncEnabled"
          style="margin-top: 15px">
          {{ 'profileDetail.enableOsWifiSync.value' | translate }}
          @if (profileForm.controls.localWifiSyncEnabled.enabled) {
            <p class="like-mat-hint">{{ 'profileDetail.osWifiSyncHint.value' | translate }}</p>
          }
        </mat-checkbox>

        <mat-checkbox class="flex flex-1" formControlName="uefiWifiSyncEnabled" style="margin-top: 15px">
          {{ 'profileDetail.enableUefiWifiSharing.value' | translate }}
          @if (profileForm.controls.uefiWifiSyncEnabled.enabled) {
            <p class="like-mat-hint">{{ 'profileDetail.osWifiSyncHint.value' | translate }}</p>
          }
        </mat-checkbox>

        @if (showWirelessConfigurations()) {
          <mat-form-field class="flex flex-1" style="margin-top: 20px">
            <mat-label>{{ 'profileDetail.wifiProfiles.value' | translate }}</mat-label>
            <input
              matInput
              type="text"
              data-cy="wifiAutocomplete"
              [placeholder]="'profileDetail.wifiProfilesPlaceholder.value' | translate"
              [formControl]="wirelessAutocomplete"
              [matAutocomplete]="auto" />
            <mat-autocomplete
              autoActiveFirstOption
              #auto="matAutocomplete"
              (optionSelected)="selectWifiProfile($event)">
              @for (wifi of filteredWirelessList | async; track wifi) {
                <mat-option [value]="wifi" [ngClass]="isSelectable(wifi)">
                  {{ wifi }}
                </mat-option>
              }
            </mat-autocomplete>
            <mat-hint>{{ 'profileDetail.wifiProfilesHint.value' | translate }}</mat-hint>
          </mat-form-field>
        }

        @if (selectedWifiConfigs().length > 0) {
          <div>
            <mat-label class="mat-body-1">{{ 'profileDetail.associatedWirelessProfiles.value' | translate }}</mat-label>
            <br />
            <mat-hint>{{ 'profileDetail.dragDropReorder.value' | translate }}</mat-hint>
          </div>
        }
        <mat-list cdkDropList (cdkDropListDropped)="drop($event)" class="drag-boundary">
          @for (item of selectedWifiConfigs(); track item) {
            <mat-list-item class="flex flex-1 drag-box" cdkDrag cdkDragLockAxis="y" cdkDragBoundary=".drag-boundary">
              <mat-icon matListItemIcon>drag_handle</mat-icon>
              <div class="flex-row" matListItemTitle>
                <div class="flex flex-1 items-center">{{ item.priority }}. {{ item.profileName }}</div>
                <div class="flex flex-1 justify-end items-center">
                  <button type="button" mat-icon-button (click)="removeWifiProfile(item)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </mat-list-item>
          }
        </mat-list>
        @if (cloudMode === true) {
          <mat-label class="flex flex-1" style="margin-top: 15px">
            {{ 'proxy.label.value' | translate }}
          </mat-label>

          @if (showProxyConfigurations()) {
            <mat-form-field class="flex flex-1" style="margin-top: 20px">
              <mat-label>{{ 'proxy.configs.label.value' | translate }</mat-label>
              <input
                matInput
                type="text"
                data-cy="proxyAutocomplete"
                placeholder="'proxy.configs.placeholder.value' | translate"
                [formControl]="proxyAutocomplete"
                [matAutocomplete]="proxyAuto" />
              <mat-autocomplete
                autoActiveFirstOption
                #proxyAuto="matAutocomplete"
                (optionSelected)="selectProxyProfile($event)">
                @for (proxy of filteredProxyList | async; track proxy) {
                  <mat-option [value]="proxy" [ngClass]="isProxySelectable(proxy)">
                    {{ proxy }}
                  </mat-option>
                }
              </mat-autocomplete>
              <mat-hint>{{ 'proxy.configs.hint.value' | translate }}</mat-hint>
            </mat-form-field>
          }

          @if (selectedProxyConfigs().length > 0) {
            <div>
              <mat-label class="mat-body-1">{{ 'proxy.associatedProfiles.label.value' | translate }}</mat-label>
              <br />
              <mat-hint>{{ 'proxy.associatedProfiles.hint.value' | translate }}</mat-hint>
            </div>
          }
          <mat-list cdkDropList (cdkDropListDropped)="dropProxy($event)" class="drag-boundary">
            @for (item of selectedProxyConfigs(); track item) {
              <mat-list-item class="flex flex-1 drag-box" cdkDrag cdkDragLockAxis="y" cdkDragBoundary=".drag-boundary">
                <mat-icon matListItemIcon>drag_handle</mat-icon>
                <div class="flex-row" matListItemTitle>
                  <div class="flex flex-1 items-center">{{ item.priority }}. {{ item.name }}</div>
                  <div class="flex flex-1 justify-end items-center">
                    <button type="button" mat-icon-button (click)="removeProxyProfile(item)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </mat-list-item>
            }
          </mat-list>
        }
        <mat-divider style="margin: 16px 0"></mat-divider>

        <mat-label>{{ 'profileDetail.connectionConfiguration.value' | translate }}</mat-label>
        <mat-radio-group name="connectionMode" formControlName="connectionMode">
          @if (profileForm.get('connectionMode')?.touched && profileForm.get('connectionMode')?.invalid) {
            <p>
              <mat-error>{{ 'profileDetail.connectionModeRequired.value' | translate }}</mat-error>
            </p>
          }
          <fieldset>
            <legend>{{ 'profileDetail.internetModeLegend.value' | translate }}</legend>
            <p>{{ 'profileDetail.internetModeDescription.value' | translate }}</p>
            <p>
              <mat-radio-button
                data-cy="radio-cira"
                [value]="connectionMode.cira"
                [disabled]="ciraConfigurations().length === 0">
                {{ 'profileDetail.ciraCloud.value' | translate }}
                @if (ciraConfigurations().length === 0) {
                  <span>{{ 'profileDetail.noCiraConfigs.value' | translate }}</span>
                }
              </mat-radio-button>
            </p>
            @if (profileForm.get('connectionMode')?.value === 'CIRA') {
              <mat-form-field class="flex flex-1">
                <mat-label>{{ 'profileDetail.ciraConfiguration.value' | translate }}</mat-label>
                <mat-select formControlName="ciraConfigName">
                  @for (cc of ciraConfigurations(); track cc) {
                    <mat-option [value]="cc.configName">{{ cc.configName }} </mat-option>
                  }
                </mat-select>
                <mat-hint>
                  @if (profileForm.get('ciraConfigName')?.value === null) {
                    <span>{{ 'profileDetail.noConfigSelected.value' | translate }}</span>
                  }
                  {{ 'profileDetail.ciraConfigHint.value' | translate }}
                </mat-hint>
              </mat-form-field>
            }
          </fieldset>
          <fieldset>
            <legend>{{ 'profileDetail.directConnectLegend.value' | translate }}</legend>
            <p>
              {{ 'profileDetail.directConnectDescription.value' | translate }}
            </p>
            <p>
              <mat-radio-button data-cy="radio-tls" [value]="connectionMode.tls">{{
                'profileDetail.tls.value' | translate
              }}</mat-radio-button>
            </p>

            @if (!cloudMode) {
              <p>
                <mat-radio-button data-cy="radio-non-tls" [value]="connectionMode.direct">{{
                  'profileDetail.nonTls.value' | translate
                }}</mat-radio-button
                ><br />
                <mat-hint>{{ 'profileDetail.nonTlsHint.value' | translate }}</mat-hint>
              </p>
            }
            @if (profileForm.get('connectionMode')?.value === 'TLS') {
              <mat-form-field class="flex flex-1">
                <mat-label>{{ 'profileDetail.tlsMode.value' | translate }}</mat-label>
                <mat-select formControlName="tlsMode">
                  @for (tm of tlsModes; track tm) {
                    <mat-option [attr.data-cy]="tm.label" [value]="tm.value">{{ tm.label | translate }}</mat-option>
                  }
                </mat-select>
                <mat-hint>{{ 'profileDetail.tlsModeHint.value' | translate }}</mat-hint>
              </mat-form-field>

              <mat-form-field class="flex flex-1">
                <mat-label>{{ 'profileDetail.tlsSigningAuthority.value' | translate }}</mat-label>
                <mat-select formControlName="tlsSigningAuthority">
                  @for (tm of tlsSigningAuthorities; track tm) {
                    <mat-option [value]="tm.value">{{ tm.label | translate }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            }
          </fieldset>
        </mat-radio-group>

        <mat-divider style="margin: 16px 0"></mat-divider>

        <mat-form-field class="flex flex-1">
          <mat-label>{{ 'profileDetail.tags.value' | translate }}</mat-label>
          <mat-chip-grid #tagList aria-label="Tag selection">
            @for (tag of tags(); track tag) {
              <mat-chip-row [removable]="true" (removed)="remove(tag)">
                {{ tag }}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip-row>
            }
            <input
              [placeholder]="'profileDetail.newTag.value' | translate"
              [matChipInputFor]="tagList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="true"
              (matChipInputTokenEnd)="add($event)" />
          </mat-chip-grid>
          <mat-hint>
            {{ 'profileDetail.tagsHint.value' | translate }}
          </mat-hint>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="flex flex-row" style="margin-top: 48px">
        <div class="flex flex-50 justify-center">
          <button type="button" mat-button color="primary" (click)="cancel()">
            <span>{{ 'common.cancel.value' | translate }}</span>
          </button>
        </div>
        <div class="flex flex-50 justify-center">
          <button data-cy="save" type="submit" mat-flat-button color="primary">
            <span>{{ 'common.save.value' | translate }}</span>
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
  <div class="flex-25 hide-sm"></div>
</div>
