<h1 mat-dialog-title>{{ 'editTags.title.value' | translate }}</h1>
<mat-dialog-content>
  <p>{{ 'editTags.header.value' | translate }}</p>
  <p>{{ 'editTags.description.value' | translate }}</p>
  <form>
    <mat-form-field class="flex flex-1">
      <mat-label>{{ 'common.tags.value' | translate }}</mat-label>
      <mat-chip-grid #tagList aria-label="Tag selection">
        @for (tag of tags; track tag) {
          <mat-chip-row [removable]="true" (removed)="remove(tag)">
            {{ tag }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip-row>
        }
        <input
          [placeholder]="'editTags.placeholder.value' | translate"
          [matChipInputFor]="tagList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event)" />
      </mat-chip-grid>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button type="submit" (click)="done()">{{ 'common.done.value' | translate }}</button>
  <button mat-button type="button" (click)="cancel()">{{ 'common.cancelLower.value' | translate }}</button>
</mat-dialog-actions>
