<mat-toolbar color="primary">
  <div class="flex-50">
    @if (cloudMode === true) {
      {{ 'toolbar.header.cloudModeTitle.value' | translate }}
    } @else {
      {{ 'toolbar.header.consoleModeTitle.value' | translate }}
    }
  </div>
  <div class="flex flex-50 justify-end items-center">
    @if (cloudMode === true) {
      @if (isLoggedIn === true) {
        <div class="version">MPS: v{{ mpsVersions().serviceVersion }}</div>
        <div class="version">RPS: v{{ rpsVersions().serviceVersion }}</div>
      }
      <mat-divider vertical></mat-divider>
    }

    <span> {{ 'toolbar.header.hello.value' | translate }} </span>

    <button mat-icon-button [matMenuTriggerFor]="langMenu">
      <mat-icon>language</mat-icon>
    </button>
    <mat-menu #langMenu="matMenu" class="lang-menu">
      <div class="lang-scroll">
        <button mat-menu-item *ngFor="let lang of availableLangs" (click)="switchLang(lang.code)">
          {{ lang.label }}
        </button>
      </div>
    </mat-menu>

    @if (isLoggedIn === true) {
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
    }
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon><span>{{ 'common.logOut.value' | translate }}</span>
      </button>
    </mat-menu>
    <button mat-icon-button (click)="displayAbout()">
      <mat-icon>info</mat-icon>
    </button>
  </div>
</mat-toolbar>
