html,
body,
mat-drawer-container,
mat-sidenav-container {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto; //font-size: 14px;
}
// adjust mat-checkbox to align
// at the top of the label text
// (needed for multiple line labels)
/*TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version.*/
.mat-checkbox-inner-container {
  margin-top: 5px !important;
}

.error-messages-container.mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
  height: auto;
  padding: 10px 0;
}

.error-messages.mdc-list-item__primary-text {
  white-space: break-spaces;
}
