<h2 mat-dialog-title>{{ 'deviceUserConsent.title.value' | translate }}</h2>
<form [formGroup]="userConsentForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    {{ 'deviceUserConsent.description.value' | translate }}
    <br /><br />
    <mat-form-field class="flex-1">
      <input
        matInput
        formControlName="consentCode"
        [placeholder]="'deviceUserConsent.placeholder.value' | translate"
        name="consentCode"
        required
        minlength="6"
        maxlength="6" />
      <mat-error>{{ 'deviceUserConsent.error.value' | translate }}</mat-error>
      <mat-hint>{{ 'deviceUserConsent.hint.value' | translate }}</mat-hint>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()" type="button">{{ 'common.cancelLower.value' | translate }}</button>
    <button mat-button class="mat-raised-button mat-primary" type="submit">
      {{ 'common.submit.value' | translate }}
    </button>
  </mat-dialog-actions>
</form>
