@if (isLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<div class="flex-1 flex-row">
  @if (networkResults?.wired != null) {
    <mat-card class="flex flex-50 gap-12">
      <mat-card-header>
        <mat-card-title>{{ 'network.wired.title.value' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'network.wired.subtitle.value' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="flex-row flex-wrap">
          <div class="flex flex-50">
            <p>{{ 'network.wired.ipAddress.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wired?.ipAddress || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wired.subnetMask.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wired?.subnetMask || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wired.defaultGateway.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wired?.defaultGateway || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wired.primaryDNS.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wired?.primaryDNS || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wired.secondaryDNS.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wired?.secondaryDNS || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wired.ipSyncEnabled.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{
              networkResults?.wired?.ipSyncEnabled ? ('common.yes.value' | translate) : ('common.no.value' | translate)
            }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wired.dhcpEnabled.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{
              networkResults?.wired?.dhcpEnabled ? ('common.yes.value' | translate) : ('common.no.value' | translate)
            }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wired.sharedMAC.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{
              networkResults?.wired?.sharedMAC ? ('common.yes.value' | translate) : ('common.no.value' | translate)
            }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wired.macAddress.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wired?.macAddress || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wired.linkStatus.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{
              networkResults?.wired?.linkIsUp ? ('common.yes.value' | translate) : ('common.no.value' | translate)
            }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wired.linkPolicy.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wired?.linkPolicy || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wired.linkPreference.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wired?.linkPreference || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wired.linkControl.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wired?.linkControl || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wired.sharedStaticIP.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{
              networkResults?.wired?.sharedStaticIP ? ('common.yes.value' | translate) : ('common.no.value' | translate)
            }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wired.sharedDynamicIP.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{
              networkResults?.wired?.sharedDynamicIP
                ? ('common.yes.value' | translate)
                : ('common.no.value' | translate)
            }}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  }

  @if (networkResults?.wireless != null) {
    <mat-card class="flex flex-50 gap-12">
      <mat-card-header>
        <mat-card-title>{{ 'network.wireless.title.value' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'network.wireless.subtitle.value' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="flex-row flex-wrap">
          <div class="flex flex-50">
            <p>{{ 'network.wireless.ipAddress.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wireless?.ipAddress || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wireless.subnetMask.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wireless?.subnetMask || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wireless.defaultGateway.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wireless?.defaultGateway || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wireless.primaryDNS.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wireless?.primaryDNS || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wireless.secondaryDNS.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wireless?.secondaryDNS || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wireless.ipSyncEnabled.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{
              networkResults?.wireless?.ipSyncEnabled
                ? ('common.yes.value' | translate)
                : ('common.no.value' | translate)
            }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wireless.dhcpEnabled.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{
              networkResults?.wireless?.dhcpEnabled ? ('common.yes.value' | translate) : ('common.no.value' | translate)
            }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wireless.sharedMAC.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{
              networkResults?.wireless?.sharedMAC ? ('common.yes.value' | translate) : ('common.no.value' | translate)
            }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wireless.macAddress.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wireless?.macAddress || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wireless.linkStatus.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{
              networkResults?.wireless?.linkIsUp ? ('common.up.value' | translate) : ('common.down.value' | translate)
            }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wireless.linkPolicy.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wireless?.linkPolicy || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wireless.linkPreference.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wireless?.linkPreference || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wireless.linkControl.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wireless?.linkControl || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wireless.sharedStaticIP.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{
              networkResults?.wireless?.sharedStaticIP
                ? ('common.yes.value' | translate)
                : ('common.no.value' | translate)
            }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wireless.sharedDynamicIP.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{
              networkResults?.wireless?.sharedDynamicIP
                ? ('common.yes.value' | translate)
                : ('common.no.value' | translate)
            }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.wireless.localProfileSync.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{
              networkResults?.wireless?.wifiPortConfigService?.localProfileSynchronizationEnabled === 1
                ? ('common.enabled.value' | translate)
                : ('common.disabled.value' | translate)
            }}</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  }
</div>

<div class="flex-1 flex-row">
  <mat-card class="flex flex-50 gap-12">
    <mat-card-header>
      <mat-card-title>{{ 'network.ieee.title.value' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'network.ieee.subtitle.value' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      @if (networkResults?.wired != null) {
        <div class="flex-row flex-wrap">
          <div class="flex flex-50">
            <p>{{ 'network.ieee.availableInS0.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wired?.ieee8021x?.availableInS0 || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.ieee.enabled.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wired?.ieee8021x?.enabled || 'N/A' }}</span>
          </div>

          <div class="flex flex-50">
            <p>{{ 'network.ieee.pxeTimeout.value' | translate }}</p>
          </div>
          <div class="flex flex-50 justify-end">
            <span class="mat-h3">{{ networkResults?.wired?.ieee8021x?.pxeTimeout || 'N/A' }}</span>
          </div>
        </div>
      }

      @if (networkResults?.wireless != null) {
        <mat-divider style="padding-bottom: 16px"></mat-divider>
        @for (setting of networkResults?.wireless?.ieee8021xSettings; track $index) {
          <div class="flex-row flex-wrap">
            <div class="flex flex-50">
              <p>{{ 'network.ieee.authProtocol.value' | translate }}</p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3">{{ setting.authenticationProtocol }}</span>
            </div>

            <div class="flex flex-50">
              <p>{{ 'network.ieee.roamingIdentity.value' | translate }}</p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3">{{ setting.roamingIdentity || 'N/A' }}</span>
            </div>

            <div class="flex flex-50">
              <p>{{ 'network.ieee.serverCertName.value' | translate }}</p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3">{{ setting.serverCertificateName || 'N/A' }}</span>
            </div>

            <div class="flex flex-50">
              <p>{{ 'network.ieee.serverCertComparison.value' | translate }}</p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3">{{ setting.serverCertificateNameComparison }}</span>
            </div>

            <div class="flex flex-50">
              <p>{{ 'network.ieee.username.value' | translate }}</p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3">{{ setting.username }}</span>
            </div>

            <div class="flex flex-50">
              <p>{{ 'network.ieee.password.value' | translate }}</p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3">{{ setting.password || 'N/A' }}</span>
            </div>

            <div class="flex flex-50">
              <p>{{ 'network.ieee.domain.value' | translate }}</p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3">{{ setting.domain || 'N/A' }}</span>
            </div>

            <div class="flex flex-50">
              <p>{{ 'network.ieee.pac.value' | translate }}</p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3">{{ setting.protectedAccessCredential || 'N/A' }}</span>
            </div>

            <div class="flex flex-50">
              <p>{{ 'network.ieee.pacPassword.value' | translate }}</p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3">{{ setting.pacPassword || 'N/A' }}</span>
            </div>

            <div class="flex flex-50">
              <p>{{ 'network.ieee.psk.value' | translate }}</p>
            </div>
            <div class="flex flex-50 justify-end">
              <span class="mat-h3">{{ setting.psk || 'N/A' }}</span>
            </div>
          </div>
        }
      }
    </mat-card-content>
  </mat-card>

  @if (networkResults?.wireless != null) {
    <mat-card class="flex flex-50 gap-12">
      <mat-card-header>
        <mat-card-title>{{ 'network.wirelessNetworks.title.value' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'network.wirelessNetworks.subtitle.value' | translate }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          @for (network of networkResults?.wireless?.wifiNetworks; track $index) {
            <mat-list-item>
              <mat-icon matListItemIcon>wifi</mat-icon>
              <span matListItemTitle>{{
                'network.wirelessNetworks.name.value' | translate: { name: network.elementName }
              }}</span>
              <span matListItemLine>{{
                'network.wirelessNetworks.ssid.value' | translate: { ssid: network.ssid }
              }}</span>
              <span matListItemLine>
                {{
                  'network.wirelessNetworks.encryption.value' | translate: { encryptMethod: network.encryptionMethod }
                }}
                |
                {{ 'network.wirelessNetworks.auth.value' | translate: { authMethod: network.authenticationMethod } }}
              </span>
            </mat-list-item>
          }
        </mat-list>
      </mat-card-content>
    </mat-card>
  }
</div>
