<div class="flex items-center gap-8">
  @if (connecting() || transferring()) {
    <mat-spinner diameter="20" />
  } @else if (active()) {
    <mat-icon color="primary">check_circle</mat-icon>
  } @else {
    <mat-icon>storage</mat-icon>
  }
  <div class="flex-col">
    <span>
      @if (transferring()) {
        {{ 'ider.activity.transferring.value' | translate }}
      } @else if (active()) {
        {{ 'warning.iderActive.value' | translate }}
      } @else if (connecting() && statusLabel()) {
        {{ statusLabel() | translate }}
      } @else {
        {{ 'ider.status.notConnected.value' | translate }}
      }
    </span>
    @if (active()) {
      <span class="mat-caption"> {{ 'ider.activity.transferred.value' | translate }}: {{ formatBytes(bytes()) }} </span>
    } @else if (!connecting() && idleHint()) {
      <span class="mat-caption">{{ idleHint() | translate }}</span>
    }
  </div>
</div>
