<h2 mat-dialog-title>
  {{'devices.header.addCertificateTitle.value' | translate}}
</h2>
<mat-dialog-content class="mat-typography">
  <p>{{'devices.header.addCertificateDescription.value' | translate}}</p>
  
  <div class="flex-row flex-wrap flex-1" style="margin:16px 0">
    <div class="flex flex-50" style="margin-top:12px">
      <button type="button" color="primary" mat-raised-button (click)="fileInput.click()">Choose File</button>
      <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" accept=".cer">
    </div>
    <div class="flex flex-50">
      @if (certInfo.cert === '') {
        <div class="flex justify-center">
          <mat-icon color="warn">remove_circle</mat-icon>
          Certificate Not Yet Uploaded
        </div>
      }
      @else {
        <div class="flex justify-center">
          <mat-icon color="primary">check_circle</mat-icon>
          Certificate Uploaded
        </div>
      }
    </div>
  </div>
  
  <mat-checkbox class="example-margin" [(ngModel)]="certInfo.isTrusted">Trusted Root</mat-checkbox>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="''" (click)="onCancel()">Cancel</button>
  <button mat-button [mat-dialog-close]="certInfo" color="primary" cdkFocusInitial>OK</button>
</mat-dialog-actions>