<mat-toolbar>
  <div class="flex-33">
    <span i18n>{{ 'profiles.header.profileTitle.value' | translate }}</span>
  </div>
  <div class="flex-1"></div>
  <div class="flex flex-33 justify-end">
    <button id="btnAdd" mat-button (click)="navigateTo()">
      <mat-icon>add</mat-icon> {{ 'common.addNew.value' | translate }}
    </button>
  </div>
</mat-toolbar>
@if (isLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<mat-card>
  <mat-card-content>
    @if (isNoData()) {
      <h3 class="flex justify-center">{{ 'profiles.noData.value' | translate }}</h3>
    } @else {
      <mat-table [dataSource]="profiles">
        <!-- name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef style="flex: 1 1 0">
            {{ 'profiles.table.name.value' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element" style="flex: 1 1 0"> {{ element.profileName }} </mat-cell>
        </ng-container>
        <!-- network config Column -->
        <ng-container matColumnDef="networkConfig">
          <mat-header-cell *matHeaderCellDef> {{ 'profiles.table.network.value' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element">
            @if (element.dhcpEnabled) {
              <span>DHCP</span>
            } @else {
              <span>Static</span>
            }
          </mat-cell>
        </ng-container>
        <!-- connectionConfig Column -->
        <ng-container matColumnDef="connectionConfig">
          <mat-header-cell *matHeaderCellDef> {{ 'profiles.table.connection.value' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span>{{ element.ciraConfigName }}</span>
            <span>{{ element.tlsMode | toolkit: tlsModes | translate }}</span>
          </mat-cell>
        </ng-container>
        <!-- activation Column -->
        <ng-container matColumnDef="activation">
          <mat-header-cell *matHeaderCellDef>{{ 'profiles.table.activation.value' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.activation }} </mat-cell>
        </ng-container>
        <!-- remove Column -->
        <ng-container matColumnDef="remove">
          <mat-header-cell *matHeaderCellDef style="flex: 0 0 150px; width: 150px"> </mat-header-cell>
          <mat-cell *matCellDef="let row" style="flex: 0 0 150px; width: 150px" (click)="$event.stopPropagation()">
            <button mat-icon-button data-cy="delete" (click)="delete(row.profileName)">
              <mat-icon>delete</mat-icon>
            </button>
            @if (!cloudMode) {
              <button mat-icon-button data-cy="export" (click)="export(row.profileName)">
                <mat-icon>download</mat-icon>
              </button>
            }
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="navigateTo(row.profileName)"></mat-row>
      </mat-table>
    }
    @if (totalCount() !== 0) {
      <div>
        <mat-paginator
          [pageSizeOptions]="[25, 50, 100]"
          [pageSize]="pageEvent.pageSize"
          [length]="totalCount()"
          showFirstLastButtons
          (page)="pageChanged($event)">
        </mat-paginator>
      </div>
    }
  </mat-card-content>
</mat-card>
