# This workflow will do a clean install of node dependencies, build the sample web ui in a docker container and run tests on the ui isolated from mps and rps
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Cypress CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
permissions:
  contents: read
  actions: read

jobs:
  build:
    permissions:
      contents: read
      actions: read
      checks: write

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install cypress
      - run: docker build . --file Dockerfile --tag vprodemo.azurecr.ui/samplewebui:latest
      - run: docker run -d -p 4200:80 vprodemo.azurecr.ui/samplewebui:latest
      - run: npm run cy-runner
      - name: Publish Cypress Test Results
        uses: dorny/test-reporter@fe45e9537387dac839af0d33ba56eed8e24189e8 # v2.3.0
        if: always()
        with:
          name: Cypress Tests
          path: cypress-ui-test-output-*.xml
          reporter: java-junit
          fail-on-error: false
      - name: Upload Cypress UI Test Results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: sample-web-ui-ui-test
          path: cypress-ui-test-output-*.xml
      - name: Upload Cypress UI Images
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: sample-web-ui-ui-test-screenshots
          path: /home/runner/work/sample-web-ui/sample-web-ui/cypress/screenshots/**/*.png
